@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>All the images and fonts were for free use. </p>
<p>We are using photos by pngegg <a href="https://www.pngegg.com">(pngegg.com)</a> and iStock by Getti Images <a href="https://www.istockphoto.com">(iStock.com)</a></p>
<p>All fonts were obtained from Google Fonts <a href="https://www.fonts.google.com">(fonts.google.com)</a> and are free of license</p>
<p>© Atos SE 2022 all rights reserved</p>
