@charset "utf.8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');



body {
    background: url("../img/welcome.png");
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.btn-start {
    padding-left: 250px;
}

.welcome-text {
    margin: 300px auto;
    text-align: left;
    padding-left: 70px;
}

    .welcome-text h1 {
        text-align: left;
        color: rgb(0, 0, 0);
        font-size: 70px;
    }


    .welcome-text p {
        color: rgb(0, 0, 0);
        font-size: 30px;
    }

#start {
    background-color: #ffc72d;
    font-weight: bold;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#apply:hover {
    background-color: #ffd256;
    color: #303030;
}
