@page
@model atos.Pages.IndexModel
@{
    ViewData["Title"] = "Home Page";
}
}

<link rel="stylesheet" href="~/css/main.css" />
<div class="welcome-text">
    <h1>Connect with us.</h1>
    <br>
    <br>
    <p>The future is your choice.</p>
    <br>
    <br>
    <a class="nav-link" asp-page="/signinApp" id="apply">Apply Now!</a>
</div>