@charset "utf.8";

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');

body{
    background: url("../img/Fondo1.webp")!important;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}


.welcome-text{
    margin: 50px auto;
    text-align: center;
    color: #fff;
}

.welcome-text h1{
    font-size: 80px;
}


.welcome-text p{
    font-size: 25px;
}

#select {
    background-color: #ffc72d;
    font-weight: bold;
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

#select:hover{
    background-color: #ffd256;
    color: #303030;
  }
  

#login{
    border-radius: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
}

#login:hover{
    background-color: #ffc72d;
}

.side-bar{
    float: right;
    width: 50%;
}

.main-col{
    float: left;
    width: 50%;
}


#admin {
    text-align: center;
    width:350px;
    padding-right: 100px;
    padding-left: 10px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#stu {
    text-align: center;
    width:350px;
    padding-right: 10px;
    padding-left: 100px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-col p{
    text-align: center;
    padding-right: 10px;
    padding-left: 100px;
    color: #fff;
    font-size: 25px;

}

.sidebar-col p{
    text-align: center;
    padding-right: 100px;
    padding-left: 10px;
    color: #fff;
    font-size: 25px;
}

.text-center-admin {
    text-align: center;
    padding-right: 100px;
    padding-left: 10px;
}

.text-center-stu {
    text-align: center;
    padding-right: 10px;
    padding-left: 100px;
}


